<h1>Say Hello to <%= @cat.name %></h1>

<br>

<h3>Basic Information:</h3>
<table>

  <tr align="left">
    <th>Birth Day:  </th>
    <td><%= @cat.birth_date %></td>
  </tr>
  <tr align="left">
    <th>Age:  </th>
    <td><%= @cat.age %></td>
  </tr>
  <tr align="left">
    <th>Color:  </th>
    <td><%= @cat.color %></td>
  </tr>
  <tr align="left">
    <th>Sex:  </th>
    <td><%= @cat.sex %></td>
  </tr>


</table>
<br>

<h3> About <%= @cat.name %> </h3>
<p> <%= @cat.description %> </p>

<br>
<a href="<%= edit_cat_url(@cat) %>">Edit this cat</a><br>
<a href="<%= cats_url %>">Home</a>
